<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <a href="https://github.com/KEHANG"><i class="fa fa-fw fa-github fa-lg" aria-hidden="true"></i></a>
          &nbsp;
          <a href="https://twitter.com/KehangHan"><i class="fa fa-fw fa-twitter fa-lg" aria-hidden="true"></i></a>
          &nbsp;
          <a href="https://www.linkedin.com/in/kehang-han-94999b57/"><i class="fa fa-fw fa-linkedin fa-lg" aria-hidden="true"></i></a>
          &nbsp;
          <a href="mailto:kehanghan@gmail.com"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></a>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p align="right">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
